// @font-face {
//     font-family: Gotham-Bold;
//     src: url(../fonts/Gotham-Bold.otf);
// }
// @font-face {
//     font-family: Gotham-Medium;
//     src: url(../fonts/gotham_book.otf);
// }
@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/gotham_black.otf);
}

@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/gotham_book.otf);
}